.contentAll
    padding-top: 16px
    display:  flex
    justify-content: space-between
    &__left
        border-right: 1px solid $border-bottom
        width: 870px
        &--top
            width: 100%
            height: 32px
            background-color: $main-light
    &__right
        width: 270px
        // background-color: #cc66ff
    .info__left
        &_shortNews
            display: flex
            padding-top: 16px
            padding-bottom: 16px
            padding-right: 15px
            border-bottom: 1px solid $border-bottom
            &_author
                padding-left: 15px
                p 
                    font-size: 16px
