.site-header
    .wrapper
        background-color: $main-dark
    .containers
        // height: 80px
        display: flex
        flex-direction: row 
        align-items: center
        justify-content: space-between

.heder__logo img
    max-width: 175px
    height: 75px
    object-fit: contain

@media (max-width: 767.98px)
    .site-header
        .containers
            width: 100%


@media (min-width: 767px) and (max-width: 1199.98px)
    .site-header
        .containers
            width: 100%
