.sidebar
    // padding-left: 15px
    ul
        list-style: none
    a:link, a:visited
        text-decoration: none
        color: $white
    &__recent
        height: 32px
        background-color: $dark-secod
        &--title p
            text-align: center
            color: $white