@import "fonts"
@import "vars"
@import "color"

$default-font: "lato-font", sans-serif
$title-font: "lato-heavy", sans-serif
$menufont: "lato-heavy", sans-serif
$spanfont: "lato-font", sans-serif
$fontsize: 16px

*,
*::before,
*::after
	padding: 0
	margin: 0
	box-sizing: border-box

html 
	font-family: $default-font
	height: 100%

p 
	color: $text
	
.wrapper
	width: 100%

.containers
    width: 1200px
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto

.screen-reader-text
	clip: rect(1px, 1px, 1px, 1px)
	height: 1px
	overflow: hidden
	position: absolute !important
	width: 1px
	/* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal !important

.TestBox
	position: absolute
	z-index: -1000
	width: 300px
	height: 400px
	background-color: #fff
	.TestText:before
		font-family: 'FontAwesome'
		content: '\f72f'


.navigation
	margin-top: 32px
	& a 
		color: $text
	// padding-top: 32px
	width: 100%
	font-weight: 800
	text-align: center
	background-color: #ddd
	border-radius: 2px
	display: block
	letter-spacing: 1px
	cursor: pointer
	text-transform: uppercase
	padding: 10px 0
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out
	&:hover
		background-color: #767676
		color: $white


@import "nav"

@import "header"
@import "mainContent"
@import "content"
@import "bigBox"
@import "footer"
@import "sidebar"
@import "single"





