.menu-social li a[href*="facebook.com"]::before { content: '\f09a'; }
.menu-social li a[href*="flickr.com"]::before { content: '\f16e'; }
.menu-social li a[href*="foursquare.com"]::before { content: '\f180'; }
.menu-social li a[href*="github.com"]::before { content: '\f09b'; }
.menu-social li a[href*="plus.google.com"]::before { content: '\f0d5'; }
.menu-social li a[href*="instagram.com"]::before { content: '\f16d'; }
.menu-social li a[href*="jsfiddle.com"]::before { content: '\f1cc'; }
.menu-social li a[href*="linkedin.com"]::before { content: '\f0e1'; }
.menu-social li a[href*="pinterest.com"]::before { content: '\f0d2'; }
.menu-social li a[href*="reddit.com"]::before { content: '\f1a1'; }
.menu-social li a[href*="soundcloud.com"]::before { content: '\f1be'; }
.menu-social li a[href*="stackoverflow.com"]::before { content: '\f16c'; }
.menu-social li a[href*="tumblr.com"]::before { content: '\f173'; }
.menu-social li a[href*="twitter.com"]::before { content: '\f099'; }
.menu-social li a[href*="vimeo.com"]::before { content: '\f194'; }
.menu-social li a[href*="vine.co"]::before { content: '\f1ca'; }
.menu-social li a[href*="vk.com"]::before { content: '\f189'; }
.menu-social li a[href*="youtube.com"]::before { content: '\f167'; }
.menu-social li a[href*="wordpress.com"]::before { content: '\f19a'; }
.menu-social li a[href*="wordpress.org"]::before { content: '\f19a'; }
.menu-social li a[href*="t.me/cyberpunk3351"]::before { content: '\f2c6'; }

.menu-social  a:visited {text-decoration: none;}
.menu-social a:hover { text-decoration: none;}
.menu-social  a:active { text-decoration: none;}

.menu-social {
    /* float: left; */
    width: 60%;
    /* position: absolute; */
    /* right: 1.5rem;
    bottom: 4.5rem; */
}
#menu-social-items
{
    margin-bottom: 0;
}
.menu-social ul {
    text-align: right;
    list-style: none;
}
.menu-social ul li {
    position: relative;
    display:  inline-block;
}
.menu-social li a:before {
    display: inline-block;
    vertical-align: bottom;
    padding: 0.5rem 0.5rem;
    font-family: 'Fontawesome';
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    content: '\f08e';
}
.menu-social li a{
    color: #00ADB5;
}
.menu-social li:hover > a
{
    color: #c7c7c7;
}